<body id="background">
  <div id="main">
    <h1><%= @user.name %></h1> <br>

    <h3>Candidate: <%= @user.candidate %></h3> <br>
    <h3>Currently: <%= @user.currentPosition %></h3> <br>

    <h2>Experience: <%= @user.experience %></h2>
    <h2>Education: <%= @user.education %></h2>
    <h2>Accolades: <%= @user.accolades %></h2>
    <h2>Connections: <%= @user.connections %></h2>
    <% if user_signed_in? %>
      <%= link_to 'Edit Profile', edit_user_path %></br>
      <%= link_to 'Edit Account', edit_user_registration_path %>
    <% end %>
  </div>
</body>
