<p> Current Candidates </p>

<% if @election.status == 'public' %>
    <h3>This election is still public!</h3>
<% else %>
    <h3>This election is now archived</h3>
<% end %>

<% @election.candidates.each do |candidate| %>
  
  <p>
    <strong> Candidate: </strong>
    <%= candidate.name %> <br>

    <strong> Description: </strong>
    <%= candidate.description%> <br>

    <strong> Votes: </strong>
    <%= candidate.voteCount %> <br>

    <strong> Id: </strong>
    <%= candidate.id %> <br>
    
  </p>
<% end %>

<% if @election.status == 'public' %>
  <%= link_to "End Election", end_election_path(@election)%>  
<% end %>

