<p> Current Candidates </p>
<% @election.candidates.each do |candidate| %>
  <p>
    <strong> Candidate: </strong>
    <%= candidate.name %>
  </p>
  <%= link_to "Destroy Candidate", [candidate.election, candidate], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
<% end %>

<p> Add Candidate </p>
<%= form_with model: [ @election, @election.candidates.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>