<%= form_tag('controller/candidates_controller', method: 'put') do %>
<select>
  <%= @candidates.each do |candidate| %>
    <option value="<%= candidate.id %>">
      <%= candidate.name %>
    </option>
  <% end %>
</select>

<%= submit_tag "Select Candidate" %>
<% end %>


