<body id="background">
  <!-- The body tag represents the main content of the HTML document, and it has an id attribute set to "background." This id can be used for styling or scripting purposes. -->

  <div id="main" onload="ListBoth()">
    <!-- Inside the body, there is a div tag with an id attribute set to "main." This div is used to group and structure the main content of the page. -->
    
    <!-- Display a link to create a new election. The link points to the new_election_path, which is typically the path for creating a new election. -->
    <h3>List of All Elections</h3>
    <%= link_to "Create New Election", new_election_path %><hr>
    <!-- Within the div, there is an h1 tag that represents a top-level heading. It displays the text "All Elections," indicating that the user is on a page showing all elections. -->

    <!--Use JS and buttons for options of listing elections-->
    <button type="button" disabled="true" id="ListBoth" onclick="ListBoth()" >List Both</button>
    <button type="button" id="ListElectionsBtn" onclick="ListElections()">List Elections</button>
    <button type="button" id="ListByOwnerBtn" onclick="ListByOwner()">List By Owner</button>

    <!--Search form-->
    <%= form_with(url: elections_path, method: :get) do |form| %>
      <%= form.text_field :search, placeholder: 'Search by name' %>
      <%= form.submit 'Search' %>
    <% end %> 
    <!--Info about the search-->
    <p style="font-size: 12px;padding: 1px;margin: 5px;">
      <%= @elections.count()%> out of <%= Election.count()%> displayed.
    </p>
    <hr>
    <div id="DisplayElections"> <!--Display all elections in a list by name, seperated if archived-->
      <ul>
        <li>Active:</li>
        <ul>
          <% @elections.order(:title).each do |election| %>
            <%if election.status == "public"%>
              <li>
                <!-- For each election, create a list item with a link to the election's details page. -->
                <%= link_to election.title, election %>
              </li>
              <% end %>
          <% end %>
        </ul>
      </ul>
      <ul>
        <li>Archived:</li>
        <ul>
          <% @elections.order(:title).each do |election| %>
            <%if election.status != "public"%>

            <li>
              <!-- For each election, create a list item with a link to the election's details page. -->
              <%= link_to election.title, election %>
            </li>
            <% end %>
          <% end %>
        </ul>
      </ul>
    </div>
    <hr>
    <div id="DisplayElectionsByOwner"> <!--Display all elections in a list by owner by name, seperated if archived-->
      <ul>
        <!-- An unordered list (ul) is used to create a list of users with their associated elections. -->
        <% @users_with_elections.order(:name).order(:email).each do |user| %>
          <!-- Iterate over each user in the collection of users with elections. -->
          <li>
            <!-- For each user, create a list item (li) to display their email address as the host. -->
            Owner: <%=  link_to user.name, user %>, <%=  link_to user.email, user %>
            <ul>
              <li>Active:</li>
              <ul>
                <% @elections.order(:title).each do |election| %>
                  <%if election.status == "public" && election.user == user %>
                    <li>
                      <!-- For each election, create a list item with a link to the election's details page. -->
                      <%= link_to election.title, election %>
                    </li>
                    <% end %>
                <% end %>
              </ul>
            </ul>
            <ul>
              <li>Archived:</li>
              <ul>
                <% @elections.order(:title).each do |election| %>
                  <%if election.status != "public" && election.user == user %>

                  <li>
                    <!-- For each election, create a list item with a link to the election's details page. -->
                    <%= link_to election.title, election %>
                  </li>
                  <% end %>
                <% end %>
              </ul>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
    <hr>
  </div>
</body>

<script>
  //Turns on or off buttons and elements
  function ListByOwner() {
    document.getElementById("ListElectionsBtn").disabled = false;
    document.getElementById("ListByOwnerBtn").disabled = true;
    document.getElementById("ListBoth").disabled = false;
    document.getElementById("DisplayElections").style.display="none";
    document.getElementById("DisplayElectionsByOwner").style.display="block";
  }

  function ListElections() {
    document.getElementById("ListElectionsBtn").disabled = true;
    document.getElementById("ListByOwnerBtn").disabled = false;
    document.getElementById("ListBoth").disabled = false;
    document.getElementById("DisplayElections").style.display="block";
    document.getElementById("DisplayElectionsByOwner").style.display="none";
  }

  function ListBoth() {
    document.getElementById("ListElectionsBtn").disabled = false;
    document.getElementById("ListByOwnerBtn").disabled = false;
    document.getElementById("ListBoth").disabled = true;
    document.getElementById("DisplayElections").style.display="block";
    document.getElementById("DisplayElectionsByOwner").style.display="block";
  }
</script>