<h1><%= @election.title %></h1>

<% if @election.winner_id.present? %>
  <h2>Winner:</h2>
  <% @winner=Candidate.find(@election.winner_id) %>
  <p>Name: <%= @winner.name %>
<% else %>
  <h3> No Winner </h3>
<% end %>

<p><%= @election.description %></p>

<ul>
  <li><%= link_to "Edit", edit_election_path(@election) %></li>
  <li><%= link_to "Destroy", election_path(@election), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<%= render "showCandidates", election: @election %>

<%= render "voteBallot", election: @election %>

<%= render "addCandidates", election: @election %>


