<h1><%= @election.title %></h1>

<p><%= @election.candidateCount %></p>

<% if @election.winner_id.present? %>
  <hr/>
  <h4><strong>Winner:</strong></h4>
  <% @winner=Candidate.find(@election.winner_id) %>
  <p><em><%= @winner.name %></em> with <em><%= @winner.voteCount %> votes!</em></p>
  <p><strong>Description:</strong> <%= @winner.description %>
  <hr/>
<% else %>
  <h3> No Winner </h3>
<% end %>

<p><%= @election.description %></p>

<ul>
  <li><%= link_to "Edit", edit_election_path(@election) %></li>
  <li><%= link_to "Destroy", election_path(@election), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<p> Current Candidates </p>

<% if @election.candidateCount == 0 %>
    <div>
        You currently have no candidates added. 
        <%= link_to "Add candidates here", edit_election_path(@election) %>
   </div>
<% end %>

<% @election.candidates.each do |candidate| %>
  <p>
    <strong> Candidate: </strong>
    <%= candidate.name %> <br>

    <strong> Description: </strong>
    <%= candidate.description%> <br>

    <strong> Votes: </strong>
    <%= candidate.voteCount %> <br>
    
  </p>
  <%#= link_to "Destroy Candidate", [candidate.election, candidate], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
<% end %>

<%= render 'candidates/voteBallot', election: @election %>

