<h1><%= @election.title %></h1>

<p> <%= @election.candidateCount %> candidates. </p>

<p><%= @election.description %></p>

<ul>
  <li><%= link_to "Edit", edit_election_path(@election) %></li>
  <li><%= link_to "Destroy", election_path(@election), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<p> Current Candidates </p>

<% if @election.candidateCount == 0 %>
    <div>
        You currently have no candidates added. 
        <%= link_to "Add candidates here", edit_election_path(@election) %>
   </div>
<% end %>

<% @election.candidates.each do |candidate| %>
  <p>
    <strong> Candidate: </strong>
    <%= candidate.name %> <br>

    <strong> Description: </strong>
    <%= candidate.description%> <br>

    <strong> Votes: </strong>
    <%= candidate.voteCount %> <br>

    <%= form_with(model: candidate, url: increment_votes_election_candidate_path(@election, candidate), method: :patch) do |form| %>
        <%= form.submit 'Increment Votes' %>
    <% end %>
    
  </p>
  <%#= link_to "Destroy Candidate", [candidate.election, candidate], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
<% end %>

