<p> Add Candidate </p>
<%= form_with model: [ @election, @election.candidates.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :speech %><br>
    <%= form.text_area :speech, rows: 5 %>
  </p>
  <p>
    <div style = "visibility:hidden;">
      <%= form.text_field :image_link, :value =>  render_pic %>
    </div>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

