<hr>
<h3 style="margin-bottom: 0;"> Add Candidate </h3>
<%= form_with model: [ @election, @election.candidates.build ] do |form| %>
    <div style="font-size: 15px">
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <%= form.label :speech %><br>
    <%= form.text_area :speech%><br>
  </div>
    <div style = "display:none;">
      <%= form.text_field :image_link, :value =>  render_pic %>
    </div>
    <%= form.submit %>
<% end %>
<hr>
<style>
  p {
    font-size: 15px;
    margin-top: 0;
  }


</style>
