<p> Current Candidates </p>

<% if @election.candidates.count() == 0 %>
    <div>
        <p> You currently have no candidates added. </p>
   </div>
<% end %>

<% @election.candidates.order(:name).each do |candidate| %>
  <p>
    <strong> Candidate: </strong>
    <%= candidate.name %> <br>
    <% unless candidate.image_link.nil? %>
      <%= image_tag candidate.image_link, style: 'max-width: 200px; max-height: 200px;' %>
    <% end %>
    <br />

    <strong> Description: </strong>
    <%= candidate.description%> <br>

    <strong> Speech: </strong>
    <%= simple_format(candidate.speech)  %><br>

    <strong> Votes: </strong>
    <%= candidate.voteCount %> <br>
    
    <p>---------------------------------------------------</p>
<% end %>

<% @election.candidates.order(:name).each do |candidate| %>
  </p>
  <%= link_to "Destroy " + candidate.name, [candidate.election, candidate], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>

<% end %>