<!DOCTYPE html>
<html class="center-content">

<head>
  <title>Votifii</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>

</head>

<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
    <%= render partial: "shared/loggednavbar" %>
  <% else %>
    <%= render partial: "shared/unloggednavbar" %>
  <% end %>
  <%= yield %>

</body>

</html>